@model IEnumerable<PL.Model.POCO.Leilao>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Casa de Leilões</h1>
    <p class="lead">Aplicativo de Leilões para Trabalho final de Programação de software Aplicado</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastrar Leilões</h2>
        <p><a class="btn btn-default" href="http://localhost:54219/Leilao/Index">Entrar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastros Bens</h2>
        <p><a class="btn btn-default" href="http://localhost:54219/Bem/Index">Entrar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastrar Lotes</h2>
        <p><a class="btn btn-default" href="http://localhost:54219/Lote/Index">Entrar</a></p>
    </div>
</div>

<div class="row">
    <h2 align="center">Leilões</h2>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Natureza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MomentoInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MomentoFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanceLimite)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Natureza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Privacidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MomentoInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MomentoFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioResponsavel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanceLimite)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LeilaoId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LeilaoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LeilaoId })
                </td>
            </tr>
        }

    </table>

</div>