@model IEnumerable<PL.Model.POCO.Leilao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Natureza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privacidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentoInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentoFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioResponsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanceLimite)
        </th>
        <th></th>
    </tr>



</table>
